
#buttons {
	text-align:center;
}

a img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;			
}
button {
	height:30px;
	width:100px;
	margin:8px auto;
}
img.preload {
	display:none;
}
h1 {
	font-size:60px;
	text-align:center;
	padding:0px;
	margin:10px auto;
}

#card-table {
	position: fixed;
	background-color:green;
	width: 80%;
	height: 80%;
	margin-top: -20%;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}
a:visited {color:blue;}

#startGame {
	position: absolute;
	left:310px;
	top:170px;
}
#testGame {
	position: absolute;
	left:510px;
	top:170px;
}

